<% fillings = ["Carnitas", "Al pastor", "Steak", "Fish", "Veggies"] %>

<h1> I love tacos </h1>
<ul>
    <li>Carnitas</li>
    <li>Al pastor</li>
    <li>Steak</li>
    <li>Fish</li>
</ul>



<p> Currently there are <%=fillings.size%> kinds of Tacos